$tamanho: (
    grande: 1024px,
    mediano: 768px,
    pequeno: 425px
);

@mixin media($breakpoint) {
    @media screen and (max-width: map-get($tamanho, $breakpoint)) {
        @content;
    }
}

@mixin tela-cadastro(){
    display: grid;
    border-radius: 50px;
    box-shadow: 31px 39px 4px var(--color-bola) ;
    width: max-content;
    grid-template: 10vw 5vw 10vw / auto;
    padding: 40px;
    justify-self: center;
    background-color: var(--color-background-pergunta);

    @include media(mediano){
        grid-template: 20vw 10vw 30vw / auto;
    }

    @include media(pequeno){
        width: 90vw;
        grid-template: 40vw 20vw 40vw / auto;
    }

    & h2{
        margin-top: 50px;
        font-size: 48px;
    }

    & p{
        font-size: 30px;

        @include media(pequeno){
            font-size: 25px;
        }
    }

    & div{
        display: grid;
        grid-template: 2vw 3vw 5vw /auto;
        gap: 20px;

        @include media(mediano){
            grid-template: 5vw 5vw 5vw /auto;
        }

        @include media(pequeno){
            grid-template: 8vw 8vw 8vw /auto;
        }

        & .label-info{
            font-size: 36px;
            color: var(--color-font);
        }

        & input{
            border: 0;
            font-size: 20px;
            border-radius: 10px;

            @include media(pequeno){
                width: 75vw;
                font-size: 16px;
            }
        }

        & .label-campo{
            font-size: 16px;
            color: var(--color-border);
        }
    }

    & button{
        margin-left: 150px;
        margin-top: 200px;
        width: 200px;
        height: 50px;
        font-size: 20px;
        border-radius: 10px;
        border: 0;
        background-color: var(--color-border);
        color: var(--color-font);
        cursor: pointer;

        @include media(pequeno){
            margin-left: 50px;
            margin-top: 270px
        }
    }
}

.main-user-cadastro{
    @include tela-cadastro();
    height: 200vh;

    @include media(grande){
        height: 130vh;
    }
}

.main-cadastro-mec{
    @include tela-cadastro();
    height: 250vh;

    @include media(grande){
        height: 160vh;
    }
}

.main-login{
    @include tela-cadastro();
    height: 130vh;

    @include media(grande){
        height: 85vh;
    }

    @include media(pequeno){
        height: 140vh;
    }
}