$tamanho: (
    grande: 1024px,
    mediano: 768px,
    pequeno: 425px
);

@mixin media($breakpoint) {
    @media screen and (max-width: map-get($tamanho, $breakpoint)) {
        @content;
    }
}

.main-cadastro{
    display: grid;
    grid-template: 20vw 10vw / auto;
    background: linear-gradient(180deg, #6AB2DC 72%, #98C1D9 100%);
    color: var(--color-font);
    height: 100vh;

    @include media(pequeno){
        grid-template: 40vw 10vw / auto;
        height: 150vh;
    }

    & .conteudo-cadastro{
        display: grid;
        
        & h1{
            justify-content: center;
            color: #000;
            text-align: center;
            font-size: 50px;
        }

    }

    & p{
        text-align: center;
        font-size: 30px;

        @include media(pequeno){
            font-size: 25px;
        }
    }
    
}

.aside-cadastro{
    display: grid;
    grid-template: auto / 40vw 40vw;
    text-align: center;
    gap: 17vw;

    @include media(pequeno){
        grid-template:  90vw 50vw / auto;
    }

    & aside{
        display: grid;
        grid-template: 20vw 20vw / auto;

        @include media(grande){
            grid-template: 40vw 30vw / auto;
        }

        @include media(mediano){
            grid-template: 65vw 10vw / auto;
        }

        & a{
            font-size: 30px;
            color: var(--color-font);
            transition: 1s;

            &:hover{
                font-size: 35px;
                color: var(--color-border);
            }
        }
    }
}