footer{
    display: grid;
    grid-template:  8vw 5vw / 88.5vw 10vw ;
    color: var(--color-font);

    & .esquerda{
        border-bottom: 1px solid #fff;

        & .auto-sense-footer{
            display: flex;
            align-items: center;
            font-size: 25px;
            gap: 10px;

            & img{
                width: 57px;
                height: 63px;
            }
        }
    }

    & ul{
        margin-top: 30px;
        text-align: end;
        list-style: none;
        font-weight:700;
        border-bottom: 1px solid #fff;

        & a{
            color: var(--color-font);
            text-decoration: none;
        } 
    }

    & .copy{
        padding: 20px;
        justify-self: center;
        margin-left: 200px;
        font-size: 25px;
    }
}