footer{
    display: grid;
    grid-template:  8vw 5vw / 83.5vw 15vw ;
    color: var(--color-font);
    font-size: 25px;

    & .esquerda{
        border-bottom: 1px solid #fff;
        text-decoration: underline;

        & .auto-sense-footer{
            display: flex;
            align-items: center;
            gap: 10px;

            & img{
                width: 57px;
                height: 63px;
            }
        }
    }

    & ul{
        margin-top: 10px;
        text-align: end;
        list-style: none;
        font-weight:500;
        border-bottom: 1px solid #fff;
        text-decoration: underline;

        & a{
            color: var(--color-font);
        } 
    }

    & .copy{
        padding: 20px;
        justify-self: center;
        margin-left: 350px;
    }
}