@mixin flexCenter(){
    display: flex;
    justify-self: center;
}

$tamanho: (
    grande: 1024px,
    mediano: 768px,
    pequeno: 425px
);


@mixin media($breakpoint) {
    @media screen and (max-width: map-get($tamanho, $breakpoint)) {
        @content;
    }
}


header{
    display: grid;
    grid-template:  7vw / auto ;
    font-weight: bold;
    padding: 20px;
    gap: 5px;

    @include media(mediano){
        grid-template:  8vw / auto ;
        padding: 10px;
    }

    @include media(pequeno){
        grid-template:  15vw / auto ;
    }


    & .cabecalho{
        display: grid;
        grid-template: auto / 39vw 5vw 25vw 10vw;
        border-bottom: 1px solid var(--color-border);
        gap: 5vw;

        @include media(mediano){
            grid-template: auto / 40vw 20vw 15vw 20vw;
            gap: 0;
        }

        @include media(pequeno){
            grid-template: auto / 25vw 30vw 15vw 25vw;
            gap: 0;
        }

        & .auto-sense{
            display: grid;
            grid-template: auto / 7vw auto;
            padding: 10px;
            gap: 10px;
    
            & img{
                width: 100px;
                height: 90px;

                @include media(grande){
                    position: relative;
                    bottom: 20px;
                    width: 70px;
                    height: 70px;
                }

                @include media(mediano){
                    bottom: 20px;
                }

                @include media(pequeno){
                    right: 25px;
                }
            }
    
            & h1{
                color: var(--color-font);
                font-size: 60px;

                @include media(grande){
                    font-size: 40px;
                }

                @include media(mediano){
                    position: relative;
                    bottom:5px;
                    font-size: 30px;
                }

                @include media(pequeno){
                    font-size: 20px;
                }

            }
        }

        & .btn-nav{
            justify-self: center;
            margin-top: 10px;
            height: 70px;
            border: var(--color-border) solid 1px;
            border-radius: 50%;
            padding: 10px;
            gap: 20px;

            @include media(grande){
                margin-top: 0px;
                padding: 5px;
                height: 60px;
            }

            @include media(mediano){
                position: relative;
                height: 50px;
            }

            @include media(pequeno){
                height: 50px;
            }

            & button{
                background-color: var(--background-color);
                transform: scale(0.9);
                border: none;
                cursor: pointer;

                @include media(grande){
                    transform: scale(0.8);
                }

                @include media(mediano){
                    position: relative;
                    bottom: 5px;
                    transform: scale(0.7);
                }

                @include media(pequeno){
                    transform: scale(0.6);
                }

            }
        }

        & .mudar-modo{
            margin-top: 20px;
            justify-self: end;
            display: flex;
            height: 60px;
            width: 130px;
            border: var(--color-border) solid 1px;
            padding: 5px;
            border-radius: 150px;
            position: relative;

            @include media(grande){
                margin-top: 0px;
                height: 50px;
                width: 100px;
            }

            @include media(mediano){
                height: 40px;
                width: 80px;
            }

            @include media(pequeno){
                width: 70px;
            }

            & .switch{
                width: 50px;
                height: 50px;
                background-color: var(--color-bola);
                border-radius: 50%;
                border: 0px;
                transform: scale(0.8);
                position: absolute;
                left: var(--lado);
                transition: .5s;
                cursor: pointer;

                @include media(grande){
                    top: 1px;
                }

                @include media(mediano){
                    position: absolute;
                    top: -5px;
                    left: 1px;
                    transform: scale(0.6);
                }

                & img{
                    width: 40px;
                    height: 40px;
                }
            }

        }

        & .user{
            margin-top: 20px;
            height: 60px;
            border: var(--color-border) solid 1px;
            border-radius: 50px;
            padding: 10px;
            gap: 20px;
            @include flexCenter();

            @include media(grande){
                margin-top: 0px;
                height: 50px;
            }

            @include media(mediano){
                height: 40px;
                width: 80px;
            }

            & img{

                @include media(grande){
                    position: relative;
                    bottom: 5px;
                }

                @include media(mediano){
                    position: relative;
                    width: 30px;
                    height: 30px;
                    bottom: 5px;
                }

            }

            & button{
                rotate: 90deg;
                background-color: transparent;
                border: 0;
                font-size: 40px;
                color: var(--color-font);
                cursor: pointer;

                @include media(mediano){
                    position: relative;
                    right: 3px;
                    font-size: 30px;
                }
            }
        }
    }

    & .nav-dialog{
        position: relative;
        bottom: 60px;
        left: 300px;
        background-color: var(--background-color);
        border: 0px;

        @include media(grande){
            left: 200px;
        }

        @include media(mediano){
            bottom: 20px;
            left: 70px;
        }

        & .menu{
            @include flexCenter();
            gap: 70px;
            font-size: 32px;

            @include media(grande){
                font-size: 30px;
            }

            @include media(mediano){
                font-size: 25px;
            }
            
            & a{
                color: var(--color-font);
                text-decoration: none;
            }
        }
    }

    a:hover{
        transition: 0.5s;
        font-size: 40px;

        @include media(grande){
            font-size: 35px;
        }
    }
 
}

// ----------------------------------------------------------------------------------------------------------------------------------

