$tamanho: (
    grande: 1024px,
    mediano: 768px,
    pequeno: 425px
);

@mixin media($breakpoint) {
    @media screen and (max-width: map-get($tamanho, $breakpoint)) {
        @content;
    }
}

.info-main{
    display: grid;
    height: 400vh;
    grid-template: 50vw 100vw / auto;

    @include media(mediano){
        grid-template: 100vw 185vw / auto;
    }

    @include media(pequeno){
        grid-template: 250vw 400vw / auto;
    }

    & .info{
        display: grid;
        align-items: center;
        height: 490px;
        background: linear-gradient(180deg, #6AB2DC 72%, #98C1D9 100%);
    
        @include media(pequeno){
            height: 600px;
        }
    
        & h1{
            justify-self: center;
            font-size: 52px;
        }
    
        & p{
            width: 60vw;
            text-align: center;
            justify-self: center;
            color: var(--color-font);
            font-size: 32px;
    
            @include media(mediano){
                font-size: 25px;
            }
    
            @include media(pequeno){
                width: 80vw;
            }
        }
    }

    & .pessoas{
        display: grid;
        justify-content: center;
        background-image: url('./fundo-sobre.png');
        background-repeat: no-repeat;
        background-position: 10px 20px;
    
        @include media(mediano){
            background-position: -300px 20px;
        }
    
        @include media(pequeno){
            background-position: -500px 20px;
        }
    
        .nos{
            box-shadow: -20px 19px 4px #6AB2DC;
        }
    
        & .dados{
            position: relative;
            bottom: 100px;
            border-radius: 20px;
            background-color: rgba(57, 57, 57, 0.87);
            padding: 5px;
    
            & .nome{
                color: var(--color-font);
                text-align: center;
                font-size: 18px;
            }
    
            & .sala-rm{
                color: var(--color-font);
                text-align: center;
                font-size: 15px;
            }
    
            & .rede-pessoa{
                display: flex;
                position: relative;
                gap: 30px;
                left: 60px;
    
                & .linkedin{
                    width: 50px;
                }
            }
    
        }
    }  
    
    & img{
        border-radius: 20px;
    }
}





    
