@import url("https://fonts.cdnfonts.com/css/inknut-antiqua");
@import url("./variaveis.scss");
@import url("./header.scss");
@import url("./footer.scss");
* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Container {
  display: grid;
  background-color: var(--color-background);
  gap: 60px;
}

.main-conteudo {
  display: grid;
  grid-template: auto/60vw 35vw;
}
@media screen and (max-width: 768px) {
  .main-conteudo {
    height: 150vw;
    width: 700px;
    grid-template: 100vw/auto;
  }
}
@media screen and (max-width: 425px) {
  .main-conteudo {
    height: 150vw;
    width: 400px;
    grid-template: 10vw/auto;
  }
}

.main-esquerda {
  display: grid;
  grid-template: 20vw 20vw/auto;
  position: relative;
  width: 1228px;
  height: 942px;
  left: -450px;
  background: linear-gradient(218.89deg, #6AB2DC 1.36%, #98C1D9 30.52%, #A22C29 81.24%);
  border-radius: 400px;
  gap: 10px;
}
@media screen and (max-width: 1024px) {
  .main-esquerda {
    width: 1024px;
    height: 1000px;
  }
}
@media screen and (max-width: 768px) {
  .main-esquerda {
    left: 0;
    border-radius: 200px;
    width: 740px;
    height: 1000px;
  }
}
@media screen and (max-width: 425px) {
  .main-esquerda {
    border-radius: 100px;
    width: 415px;
    height: 600px;
  }
}
.main-esquerda h2 {
  position: relative;
  text-align: center;
  width: 35vw;
  height: 5vw;
  left: 600px;
  top: 200px;
  font-size: 64px;
  border-bottom: 3px solid black;
}
@media screen and (max-width: 1024px) {
  .main-esquerda h2 {
    left: 550px;
    height: 6vw;
    font-size: 50px;
  }
}
@media screen and (max-width: 768px) {
  .main-esquerda h2 {
    left: 200px;
    width: 50vw;
    height: 20vw;
    top: 200px;
  }
}
@media screen and (max-width: 425px) {
  .main-esquerda h2 {
    left: 150px;
    width: 50vw;
    height: 20vw;
    top: 200px;
  }
}
@media screen and (max-width: 425px) {
  .main-esquerda h2 {
    left: 100px;
    width: 60vw;
    height: 25vw;
    top: 100px;
    font-size: 40px;
  }
}
.main-esquerda p {
  position: relative;
  width: 30vw;
  height: 100px;
  left: 600px;
  top: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 50px;
  color: var(--color-font);
}
@media screen and (max-width: 1024px) {
  .main-esquerda p {
    left: 550px;
    top: 80px;
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .main-esquerda p {
    left: 250px;
    width: 40vw;
    top: 30vw;
  }
}
@media screen and (max-width: 425px) {
  .main-esquerda p {
    left: 150px;
    width: 40vw;
    font-size: 30px;
    top: 30vw;
  }
}

.main-direita {
  justify-self: center;
  align-self: center;
}
@media screen and (max-width: 768px) {
  .main-direita {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .main-direita {
    top: 300px;
    right: 50px;
  }
}
.main-direita div {
  width: 25vw;
  height: 35vw;
  top: 50px;
  background: linear-gradient(148.12deg, #6AB2DC 24.96%, #A22C29 91.5%);
  border-radius: 50%;
  filter: blur(38.2px);
}
.main-direita img {
  position: absolute;
  margin-left: 40px;
  top: 550px;
  width: 20vw;
  height: 20vw;
}
@media screen and (max-width: 1024px) {
  .main-direita img {
    top: 600px;
    right: 12vw;
  }
}

.info-main {
  display: grid;
  height: 400vh;
  grid-template: 50vw 100vw/auto;
}
@media screen and (max-width: 768px) {
  .info-main {
    grid-template: 100vw 185vw/auto;
  }
}
@media screen and (max-width: 425px) {
  .info-main {
    grid-template: 250vw 400vw/auto;
  }
}

.info {
  display: grid;
  align-items: center;
  height: 490px;
  background: linear-gradient(180deg, #6AB2DC 72%, #98C1D9 100%);
}
@media screen and (max-width: 425px) {
  .info {
    height: 600px;
  }
}
.info h1 {
  justify-self: center;
  font-size: 52px;
}
.info p {
  width: 60vw;
  text-align: center;
  justify-self: center;
  color: var(--color-font);
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  .info p {
    font-size: 25px;
  }
}
@media screen and (max-width: 425px) {
  .info p {
    width: 80vw;
  }
}

.pessoas {
  display: grid;
  justify-content: center;
  background-image: url("./fundo-sobre.png");
  background-repeat: no-repeat;
  background-position: 10px 20px;
}
@media screen and (max-width: 768px) {
  .pessoas {
    background-position: -300px 20px;
  }
}
@media screen and (max-width: 425px) {
  .pessoas {
    background-position: -500px 20px;
  }
}
.pessoas .nos {
  box-shadow: -20px 19px 4px #6AB2DC;
}
.pessoas .dados {
  position: relative;
  bottom: 100px;
  border-radius: 20px;
  background-color: rgba(57, 57, 57, 0.87);
  padding: 5px;
}
.pessoas .dados .nome {
  color: var(--color-font);
  text-align: center;
  font-size: 18px;
}
.pessoas .dados .sala-rm {
  color: var(--color-font);
  text-align: center;
  font-size: 15px;
}
.pessoas .dados .rede-pessoa {
  display: flex;
  position: relative;
  gap: 30px;
  left: 60px;
}
.pessoas .dados .rede-pessoa .linkedin {
  width: 50px;
}
.pessoas img {
  border-radius: 20px;
}

.main-perguntas {
  display: grid;
  grid-template: 10vw 20vw 20vw 20vw 20vw/auto;
  gap: 20vw;
  justify-self: center;
}
@media screen and (max-width: 768px) {
  .main-perguntas {
    grid-template: 10vw 60vw 60vw 60vw 60vw/auto;
    height: 300vw;
    gap: 10vw;
  }
}
@media screen and (max-width: 425px) {
  .main-perguntas {
    grid-template: 25vw 85vw 90vw 85vw 85vw/auto;
    height: 450vw;
    gap: 10vw;
  }
}

.h1-perguntas {
  border-bottom: 3px solid var(--color-border);
  width: 90vw;
  text-align: center;
  font-family: "Inknut Antiqua", sans-serif;
  font-size: 51px;
}
@media screen and (max-width: 768px) {
  .h1-perguntas {
    font-size: 30px;
  }
}
@media screen and (max-width: 425px) {
  .h1-perguntas {
    font-size: 20px;
  }
}

.perguntas {
  display: grid;
  grid-template: 5vw 10vw/70vw 10vw;
  font-size: 40px;
  border-bottom: 1px solid #000;
  gap: 10vw;
  height: 70px;
}
@media screen and (max-width: 768px) {
  .perguntas {
    grid-template: 5vw 50vw/70vw 10vw;
    font-size: 25px;
  }
}
@media screen and (max-width: 425px) {
  .perguntas {
    font-size: 20px;
  }
}
.perguntas .rotate-button {
  color: #A22C29;
  cursor: pointer;
  background-color: transparent;
  font-weight: 700;
  border: none;
  font-size: 60px;
  transition: transform 0.1s ease;
}
.perguntas .rotate-button:active {
  transform: rotate(90deg);
}
.perguntas dialog {
  position: relative;
  background: linear-gradient(90deg, var(--color-background-pergunta) 66.5%, var(--color-border) 100%);
  width: 80vw;
  padding: 60px;
  border-radius: 20px;
  border: 0px;
  bottom: 9vw;
}
@media screen and (max-width: 768px) {
  .perguntas dialog {
    bottom: 5vw;
    width: 90vw;
    font-size: 30px;
  }
}
@media screen and (max-width: 425px) {
  .perguntas dialog {
    top: 10px;
    height: 75vw;
    font-size: 20px;
  }
}

.main-cadastro {
  display: grid;
  grid-template: 20vw 10vw/auto;
  background: linear-gradient(180deg, #6AB2DC 72%, #98C1D9 100%);
  color: var(--color-font);
  height: 100vh;
}
.main-cadastro .conteudo-cadastro {
  display: grid;
}
.main-cadastro .conteudo-cadastro h1 {
  justify-content: center;
  color: #000;
  text-align: center;
  font-size: 50px;
}
.main-cadastro p {
  text-align: center;
  font-size: 30px;
}

.aside-cadastro {
  display: grid;
  grid-template: auto/40vw 40vw;
  text-align: center;
  gap: 17vw;
}
.aside-cadastro aside {
  display: grid;
  grid-template: 20vw 20vw/auto;
}
.aside-cadastro aside a {
  font-size: 30px;
  color: var(--color-font);
  transition: 1s;
}
.aside-cadastro aside a:hover {
  font-size: 35px;
  color: var(--color-border);
}/*# sourceMappingURL=style.css.map */