@import url('https://fonts.cdnfonts.com/css/inknut-antiqua');
@import url('./variaveis.scss');

*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.Container{
    display: grid;
    background-color: var(--color-background);
    gap: 60px;
}

@import url('./header.scss');

@import url('./home.scss');

@import url('./sobre.scss');

@import url('./pergunta.scss');

@import url('./cadastro.scss');

@import url('./footer.scss');