@import url("https://fonts.cdnfonts.com/css/inknut-antiqua");
@import url("./variaveis.scss");
@import url("./header.scss");
@import url("./footer.scss");
* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Container {
  display: grid;
  background-color: var(--color-background);
  gap: 60px;
}

.main-conteudo {
  display: grid;
  grid-template: auto/70vw 20vw;
}

.main-esquerda {
  display: grid;
  grid-template: 20vw 20vw/auto;
  position: relative;
  width: 1228px;
  height: 942px;
  left: -450px;
  background: linear-gradient(218.89deg, #6AB2DC 1.36%, #98C1D9 30.52%, #A22C29 81.24%);
  border-radius: 400px;
  gap: 10px;
}
@media screen and (max-width: 1024px) {
  .main-esquerda {
    width: 1024px;
    height: 1000px;
  }
}
.main-esquerda h2 {
  position: relative;
  text-align: center;
  width: 35vw;
  height: 5vw;
  left: 600px;
  top: 200px;
  font-size: 64px;
  border-bottom: 3px solid black;
}
@media screen and (max-width: 1024px) {
  .main-esquerda h2 {
    left: 550px;
    height: 6vw;
    font-size: 50px;
  }
}
.main-esquerda p {
  position: relative;
  width: 30vw;
  height: 100px;
  left: 600px;
  top: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 50px;
  color: var(--color-font);
}
@media screen and (max-width: 1024px) {
  .main-esquerda p {
    left: 550px;
    top: 80px;
    font-size: 40px;
  }
}

.main-direita {
  position: relative;
  top: 100px;
  right: 100px;
  height: 30vw;
}
@media screen and (max-width: 1024px) {
  .main-direita {
    top: 300px;
    right: 50px;
  }
}
.main-direita div {
  width: 25vw;
  height: 35vw;
  top: 50px;
  background: linear-gradient(148.12deg, #6AB2DC 24.96%, #A22C29 91.5%);
  border-radius: 50%;
  filter: blur(38.2px);
}
.main-direita img {
  position: absolute;
  top: 110px;
  left: 50px;
  width: 20vw;
  height: 20vw;
}

.info-main {
  display: grid;
  height: 400vh;
  grid-template: 50vw 100vw/auto;
}

.info {
  display: grid;
  align-items: center;
  height: 490px;
  background: linear-gradient(180deg, #6AB2DC 72%, #98C1D9 100%);
}
.info h1 {
  justify-self: center;
  font-size: 52px;
}
.info p {
  width: 60vw;
  text-align: center;
  justify-self: center;
  color: var(--color-font);
  font-size: 32px;
}

.pessoas {
  display: grid;
  justify-content: center;
  background-image: url("./fundo-sobre.png");
  background-repeat: no-repeat;
  background-position: 10px 20px;
}
.pessoas .nos {
  box-shadow: -20px 19px 4px #6AB2DC;
}
.pessoas .dados {
  position: relative;
  bottom: 100px;
  border-radius: 20px;
  background-color: rgba(57, 57, 57, 0.87);
  padding: 5px;
}
.pessoas .dados .nome {
  color: var(--color-font);
  text-align: center;
  font-size: 18px;
}
.pessoas .dados .sala-rm {
  color: var(--color-font);
  text-align: center;
  font-size: 15px;
}
.pessoas .dados .rede-pessoa {
  display: flex;
  position: relative;
  gap: 30px;
  left: 60px;
}
.pessoas .dados .rede-pessoa .linkedin {
  width: 50px;
}
.pessoas img {
  border-radius: 20px;
}

.main-perguntas {
  display: grid;
  grid-template: 10vw 20vw 20vw 20vw 20vw/auto;
  gap: 20vw;
  justify-self: center;
}

.h1-perguntas {
  border-bottom: 3px solid var(--color-border);
  width: 90vw;
  text-align: center;
  font-family: "Inknut Antiqua", sans-serif;
  font-size: 51px;
}

.perguntas {
  display: grid;
  grid-template: 5vw 10vw/70vw 10vw;
  font-size: 40px;
  border-bottom: 1px solid #000;
  gap: 10vw;
  height: 70px;
}
.perguntas .rotate-button {
  color: #A22C29;
  cursor: pointer;
  background-color: transparent;
  font-weight: 700;
  border: none;
  font-size: 60px;
  transition: transform 0.1s ease;
}
.perguntas .rotate-button:active {
  transform: rotate(90deg);
}
.perguntas dialog {
  position: relative;
  background: linear-gradient(90deg, var(--color-background-pergunta) 66.5%, var(--color-border) 100%);
  width: 80vw;
  padding: 60px;
  border-radius: 20px;
  border: 0px;
  bottom: 9vw;
}/*# sourceMappingURL=style.css.map */