@import url('./variaveis.scss');

*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.Container{
    display: grid;
    background-color: var(--color-background);
    gap: 60px;
}

@import url('./header.scss');

.main-conteudo{
    display: grid;
    grid-template: auto / 70vw 20vw;
}
.main-esquerda{
    display: grid;
    grid-template: 20vw 2px 20vw / auto;
    position: relative;
    width: 1228px;
    height: 942px;
    left: -450px;
    background: linear-gradient(218.89deg, #6AB2DC 1.36%, #98C1D9 30.52%, #A22C29 81.24%);
    border-radius: 400px;
    gap: 10px;

    & h2{
        position: relative;
        width: 40vw;
        height: 500px;
        left: 600px;
        top: 200px;
        font-size: 64px;
    }

    & hr{
        position: relative;
        width: 35vw;
        left: 550px;
        border-color: black;
    }

    & p{
        position: relative;
        width: 30vw;
        height: 100px;
        left: 600px;
        top: 30px;
        text-align: center;
        font-weight: 400;
        font-size: 50px;
        color: var(--color-font);
    }

}

.main-direita{
    position: relative;
    top: 100px;
    right: 100px;
    height: 30vw;

    & div{
        width: 25vw;
        height: 35vw;
        top: 50px;
        background: linear-gradient(148.12deg, #6AB2DC 24.96%, #A22C29 91.5%);
        border-radius: 50%;
        filter: blur(38.2px);
    }
    

    & img{
        position: absolute;
        top: 30px;
        left: 50px;
        width: 20vw;
        height: 30vw;
    }
}

.info-main{
    display: grid;
    height: 400vh;
    grid-template: 50vw 110vw / auto;
}

.info{
    display: grid;
    align-items: center;
    height: 490px;
    background: linear-gradient(180deg, #6AB2DC 72%, #98C1D9 100%);

    & h1{
        justify-self: center;
        font-size: 52px;
    }

    & p{
        width: 60vw;
        text-align: center;
        justify-self: center;
        color: var(--color-font);
        font-size: 32px;
    }
}

.pessoas{
    display: grid;
    justify-content: center;
    background-image: url('./fundo-sobre.png');
    background-repeat: no-repeat;
    background-position: -90px 20px;

    & img{
        backdrop-filter: drop-shadow(-20px 19px 4px #6AB2DC);
        border-radius: 20px;
    }
}



@import url('./footer.scss');