*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Parte de páginas modal*/
.setas {
    background: none;
    border: none;
    & img {
        width: 55px;
        height: 48px
    }
}