*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    height: auto;
    align-items: start;
    grid-template-areas: 
        'cabecalho'
        'main'
        'rodape';
}

.cabecalho{
    grid-area: cabecalho ;
    background-color: #171F25;
    align-items: center;
    height: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    & .menus{
        display: none;
    }

    & .logo{
        margin-left: 30px;
        flex-grow: auto;
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        gap: 40px;

    }

    & #img-logo{
        width: min-content;
        height: min-content;

        & img{
            width: 100px;
            height: 100px;
        }
    }

    & h3{
        display: flex;
        height: auto;
        width: auto;
        font-weight: bold;
        text-align: center;
        font-size: 25px;
        color: #ffffff;

    }

    & .links-paginas{
        display: flex;
        gap: 50px;
        flex-grow: auto;
        position: sticky;
        left: 75%;

        & a{
            text-decoration: none;
        }
    }

    & .pagina{
        display: flex;
        flex-grow: auto;
        position: sticky;
        left: 45%;

        & h2{
            color: #F2EAB7;
            font-size: 51px;
            text-align: center;
        }
    
    }

    
    & .usuario{
        display: block;
        flex-grow: auto;
        position: sticky;
        left: 90%;
        
        & img{
            width: 120px;
            height: 56px;
        }
       
    }
}

main{
    box-sizing: border-box;
    margin: 0;
    background-image: url("../img/fundo-main.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 98.9vw;
    height: 100vh;
    padding: 0px;
    flex-wrap: wrap;

    & .fundo{
        background-color: rgba(10,23,55,0.7);
        background-size: auto;
        width: 98.9vw;
        height: 100vh;
        grid-area: main;
        display: grid;
        grid-template-rows: auto auto 1fr auto; 
        justify-content: center;
        align-items: center;
        gap: 40px;
    
        & #boas-vindas{
            height: auto;
            width: auto;
            margin-top: 20%;
            align-self: center;
            
            & h1{
                font-size: 64px;
                text-align: center;
                color: #C90A02;
                font-family: 'Inknut Antiqua';
            }
        }

        & hr{
            border-color: #a50b06;
        }

        & .conteudo-p{
            align-self: start;
            width: 50vw;
            text-align: center;
            

            & p{
                color: #F2EAB7;
                font-size: 36px;
            }
        }

        & .informacao{
            justify-self: center;
            align-self: center;
            width: 40vw;
            

            & p{
                text-align: center;
                color: #9c0904;
                font-size: 48px;
                font-family: 'Inknut Antiqua';
            }
        }
    
        & .setas{
            align-self: flex-end;
            justify-self: center;
    
            & img {
                width: 82px;
                height: 44.68px;
            }
        }
    }

}

.rodape{

    grid-area: rodape;
    background-color: #F2EAB7;
    align-items: center;
    justify-content: center;
    height: 117px;
    display: flex;
    flex-wrap: wrap;

    & P{
        font-size: 23px;
        font-weight: bold;
    }
}


/* ---------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:834px) {
    
    .cabecalho{
        gap: 20px;
    
        & .logo{
            margin-left: 0px;
            position: relative;
            left: 30%;
        }

        & .links-paginas{
            display: none;

            & a{
                display: none;
            }
        }

        & .usuario{
            display: block;
            flex-grow: auto;
            position: sticky;
            left: 90%;
            
            & img{
                width: 70px;
                height: 42px;
            }
           
        }
    }
    
    main{
        background-size: 100vw 100vh;
        width: 100vw;
        height: 99vh;
        padding: 0px;
        flex-wrap: wrap;
    
        & .fundo{
            background-size: 100vw 100vh;
            width: 100vw;
            height: 100vh;
            padding: 10px;

            & .conteudo-p{
                width: 70vw;
            }
    
        }
    
    }
    
}

/* ---------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:1024px) {
    
    .cabecalho{
        gap: 20px;
    
        & .links-paginas{
            display: flex;
            gap: 50px;
            flex-grow: auto;
            position: sticky;
            left: 65%;

        }

        
    }
    
    main{
        background-size: 100vw 100vh;
        width: 100vw;
        height: 99vh;
        padding: 0px;
        flex-wrap: wrap;
    
        & .fundo{
            background-size: 100vw 100vh;
            width: 100vw;
            height: 100vh;
            padding: 10px;

            & #boas-vindas{
                
                & h1{
                    font-size: 45px;
                }
            }
    
            & .conteudo-p{
                width: 70vw;
    
                & p{
                    font-size: 25px;
                }
            }   

            & .informacao{
    
                & p{
                    font-size: 28px;
                }
            }

            & .setas{
        
                & img {
                    width: 58px;
                    height: 34px;
                }
            }
        }
    }
}

/* ----------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:595px) {
    
    .cabecalho{
        gap: 20px;
    
        & #img-logo{
    
            & img{
                width: 60px;
                height: 76px;
            }
        }  
    }
    
    main{
        background-size: 100vw 100vh;
        width: 100vw;
        height: 99vh;
        padding: 0px;
        flex-wrap: wrap;
    
        & .fundo{
            background-size: 100vw 100vh;
            width: 100vw;
            height: 100vh;
            padding: 10px;

            & #boas-vindas{
                
                & h1{
                    font-size: 45px;
                }
            }
    
            & .conteudo-p{
                width: 70vw;
    
                & p{
                    font-size: 25px;
                }
            }   

            & .informacao{
    
                & p{
                    font-size: 28px;
                }
            }

            & .setas{
        
                & img {
                    width: 58px;
                    height: 34px;
                }
            }
        }
    }

    .rodape{
        height: 71px;

        & P{
            font-size: 18px;
        }
    }
}

/* ---------------------------------------------------------------------------------------------------------- */

@media screen and (max-width:512px) {
    
    .cabecalho{

        & .logo{
            margin-left: 0px;
            position: relative;
            left: 30%;
            width: 180px;
            height: 47px;
            gap: 8px;

        }
    
        & #img-logo{
    
            & img{
                width: 59px;
                height: 76px;
            }
        }

        & h3{
            font-size: 14px;
    
        }  
    }
    
    main{
    
        & .fundo{

            & #boas-vindas{
                
                & h1{
                    font-size: 20px;
                }
            }
    
            & .conteudo-p{
                width: 70vw;
    
                & p{
                    font-size: 20px;
                }
            }   

            & .informacao{
    
                & p{
                    font-size: 18px;
                }
            }

            & .setas{
        
                & img {
                    width: 58px;
                    height: 34px;
                }
            }
        }
    }

    .rodape{
        height: 42px;

        & P{
            font-size: 14px;
        }
    }
}