*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-content: center;
}

body{
    display: grid;
    height: auto;
    align-items: start;
    grid-template-areas: 
        'cabecalho'
        'main'
        'rodape';
}

.cabecalho{
    grid-area: cabecalho ;
    background-color: #171F25;
    align-items: center;
    height: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    

    & .menus{
        

        & img{
            width: 80px;
        height: 80px;
        }
    }

    & .logo{
        flex-grow: auto;
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        gap: 20px;

    }

    & .img-logo{
        width: min-content;
        height: min-content;

        & img{
            width: 100px;
            height: 100px;
        }
    }

    & h4{
        display: flex;
        height: auto;
        width: auto;
        font-weight: bold;
        text-align: center;
        font-size: 25px;
        color: #ffffff;

    }

    & .pagina{
        display: flex;
        flex-grow: auto;
        position: sticky;
        left: 45%;

        & h2{
            color: #F2EAB7;
            font-size: 51px;
            text-align: center;
        }
    
    }

    
    & .usuario{
        display: block;
        flex-grow: auto;
        position: sticky;
        left: 100%;
        text-align: right;
        
        & img{
            width: 90px;
            height: 56px;
        }
       
    }
}


main{
    grid-area: main;
    background-color: #F2EAB7;
    align-items: center;
    width: auto;
    height: auto;
    padding: 10px;
    flex-wrap: wrap;
    gap: 20px;
}

.rodape{
    grid-area: rodape;
    background-color: #752E2B;
    align-items: center;
    justify-content: center;
    height: 128px;
    display: flex;
    flex-wrap: wrap;
}